
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

/* CATALOG TOP */
.catalog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* CONTROL PANEL */
.catalog-page {
    padding: 20px 0;
}

.catalog-controls {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

/* FILTERS */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}

.filters .filter {
  background:none;
  color: #000;
  border: 1px solid #000;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* SORTING */
.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  margin-top: 14px;
}

.sorting__label {
  font-size: 14px;
  color: #666;
}

.sort-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 8px 14px;
  font-size: 14px;
  border-radius: 20px;

  background: none;
  border: 1px solid #000;
  cursor: pointer;

  transition: all .2s ease;
}

.sort-btn:hover {
  background: #e9e9e9;
}


.sort-btn.active {
  background: #d9774a;
  border-color: #d9774a;
  color: #000;
  font-weight: 600;
}


/* PRODUCTS GRID */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 22px;
}

.product {
  background: #fff;
  padding: 14px;
  border-radius: var(--radius);
  box-shadow: 0 5px 14px rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 15px;
  margin-bottom: 4px;
}

.stock {
  font-size: 13px;
  color: #777;
  margin-bottom: 10px;
}

.product__bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
}



/* PAGINATION */
.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 40px 0;
}

.pagination button {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
}

.pagination .active {
  background: var(--accent);
  color: #fff;
}

/* ADAPTIVE */
@media (max-width: 768px) {
  .nav { display: none; }
  .catalog__top { flex-direction: column; gap: 10px; align-items: flex-start; }
  .sort { margin-left: 0; }
}
