/* Products */

.products-section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}


.products__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background: #faf8f5;
    padding: 16px;
    border-radius: 8px;
}

.product-img  {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.product-footer {
    display: flex;              
    align-items: center;        
    justify-content: space-between; 
    margin-top: 12px;          
}